/* general styles for the body */
body {
  display: inline-flexbox;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: black;
  line-height: 1;
}
/* dark & light mode theme styles */
.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color:darkslategray;
  color: white;
}
/* The header and current day info text styles */
.jumbotron {
  text-align: center;
  background-color: #c8eff8;
  color: black;
  border-radius: 0;
  border-bottom: 1rem solid black;
}

.jumbotron h1 {
  font-weight: 800;
}
#currentDay {
  color: red;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 2em;
}

/* calendar styles */
.container-fluid {
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding-left: 15em;
  padding-right: 15em;
}

.times {
  text-align: right;
  padding: 2em 1em 0em 0em ;
}

textarea {
  display: inline-block;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* Text area time block bkgrd color styles */
.prev-hour {
  background-color: rgb(189, 189, 189);
  border-color: gray;
}

.current-hour {
  background-color: crimson;
  border-color: crimson;
}

.future-hour {
  background-color: rgb(90, 177, 90);
  border-color: rgb(41, 136, 41);
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

/* Button styles */
button {
  display: inline-block;
}

#saveBtn {
  display: inline-flexbox;
  border-left: 1px solid black;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #06AED5;
  color: white;
  font-size: 3rem;
}

#saveBtn i:hover {
  color: #fcf767;
  font-size: 4rem;
  transition: all .3s ease-in-out;
}